In [2]:
import  pandas as pd 
 
data = {"Name":["John","Peter","Lisa"],
"Age":[25,28,31],
"Salary" : [300000,45000,25000]}



df = pd. DataFrame(data)
print(df)

    Name  Age  Salary
0   John   25  300000
1  Peter   28   45000
2   Lisa   31   25000

In [1]:
import pandas as pd
data = pd.read_csv("C:/Users/amrutaaushikar/Downloads/Datasets-main/Datasets-main/company.csv")
print(data)

   Unnamed: 0      Name gender  salary
0           0    ayushi      F   20000
1           1     rohit      M   25000
2           2  pranjali      F   27000

In [3]:
data = pd.read_excel("C:/Users/amrutaaushikar/Downloads/Datasets-main/Datasets-main/expense3.xlsx")
print(data)

         Date    Category       Sub-Category   Amount Payment Mode
0  2023-01-01     Grocery             Grocery      30         Cash
1  2023-01-02        Food          Restaurant     890          UPI
2  2023-01-04         123              Zomato     257          NaN
3  2023-01-06  Essentials               Diary     120          UPI
4  2023-01-06  Essentials             Perfume    1500         Cash
5  2023-01-09     Grocery  Fruits and Veggies     456         Cash
6  2023-01-10       Bills          House Rent   16000          UPI
7  2023-01-10     Grocery      Tomato KetchUp      70          UPI
8  2023-01-12        Food                Chai      15          UPI
9  2023-01-15  Essentials      Salt and Sugar      50          NaN
10 2023-01-17     Grocery           Chocolate     100          UPI
11 2023-01-17        Food          Restaurant     780         Card
12 2023-01-18  Essentials            Food Oil     120          NaN
13 2023-01-18        Food              Zomato     230          UPI
14 2023-01-19     Grocery                Milk      26          UPI
15 2023-01-20  Essentials             Shampoo     780          UPI
16 2023-01-20  Essentials           Lunch Box     890         Cash
17 2023-01-21     Clothes               Dress    1000          NaN
18 2023-01-22     Clothes               Dress    1890          UPI
19 2023-01-23     Grocery      Bread and Milk      56         Cash
20 2023-01-24        Food  Fruits and Veggies     530         Cash
21 2023-01-26        Food                Chai      10          UPI
22 2023-01-26     Grocery               Maggi     140          UPI
23 2023-01-27        Food              Zomato     300          UPI
24 2023-01-27        Food                Chai      10          UPI
25 2023-01-28  Essentials           Bedsheets    1025         Cash
26 2023-01-29       Bills             Mobile     1650          UPI
27 2023-01-29     Grocery                Daal     150         Cash
28 2023-01-30       Bills            Cylinder    1074          UPI