In [3]:
import pandas as pd

data1 = {"Emp Id":["E01","E02","E03","E04","E05","E06"],
         "Names":["Ram","Shyan","Rahul","Vishal","Ravi","John"],
         "Age":[34,56,23,44,32,36]}
data2 = {"Emp Id":["E01","E02","E03","E04","E05","E06"],
         "Salary":[45000,56000,34000,50000,62000,52000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(df1)
print()
print(df2)

  Emp Id   Names  Age
0    E01     Ram   34
1    E02   Shyan   56
2    E03   Rahul   23
3    E04  Vishal   44
4    E05    Ravi   32
5    E06    John   36

  Emp Id  Salary
0    E01   45000
1    E02   56000
2    E03   34000
3    E04   50000
4    E05   62000
5    E06   52000

In [5]:
print(pd.merge(df1,df2,on = "Emp Id",how = "left"))

  Emp Id   Names  Age  Salary
0    E01     Ram   34   45000
1    E02   Shyan   56   56000
2    E03   Rahul   23   34000
3    E04  Vishal   44   50000
4    E05    Ravi   32   62000
5    E06    John   36   52000

In [6]:
data1 = {"Emp Id":["E01","E02","E03","E04","E05","E06"],
         "Names":["Ram","Shyan","Rahul","Vishal","Ravi","John"],
         "Age":[34,56,23,44,32,36]}
data2 = {"Emp Id":["E07","E08","E09","E010","E011","E012"],
         "Names":["bittu","chintu","pappu","chotu","bunty","golu"],
         "Age":[34,56,23,44,32,36]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(df1)
print()
print(df2)

  Emp Id   Names  Age
0    E01     Ram   34
1    E02   Shyan   56
2    E03   Rahul   23
3    E04  Vishal   44
4    E05    Ravi   32
5    E06    John   36

  Emp Id   Names  Age
0    E07   bittu   34
1    E08  chintu   56
2    E09   pappu   23
3   E010   chotu   44
4   E011   bunty   32
5   E012    golu   36